*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}

.header-bar{
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    box-shadow: 0 0 5px rgb(141, 141, 141);
    justify-content: space-between;
    padding: 8px;
    z-index: 1;

}

.header-bar a{
    color: black;
    text-decoration: none;
    
    
}
.header-bar2 ul li{
    list-style: none;
    display: flex;
    display: inline-block;
    margin-left: 20px; 
    

}
body{
    background-color: white;
}
.container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgb(243, 242, 242);

}
.image{
    background: url(../Assets/images/architect.jpg);
    height: 90vh;
    background-size: cover;
    display: flex;

}
.image p{
    display: flex;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.image p b{
    
    padding: 5px 7px;
    background-color: black;
    opacity: 0.8;
    text-align: center;

}
.img-box{

    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between;
    margin: 4% 0;
}
.box {
    width: 24%;
    height: 30vh;
    margin-bottom:  15px;
}
.img1{
    background: url(../Assets/images/house5.jpg);
    background-size: cover;
    background-position: center;
    
    
}
.img2{
    background:url(../Assets/images/house2.jpg);
    background-size: cover;
    background-position: center;
}
.img3{
    background: url(../Assets/images/house3.jpg);
    background-size: cover;
    background-position: center;
}
.img4{
    background: url(../Assets/images/house4.jpg);
    background-size: cover;
    background-position: center;
}
.img5{
    background: url(../Assets/images/house2.jpg);
    background-size: cover;
    background-position: center;
}
.img6{
    background: url(../Assets/images/house5.jpg);
    background-size: cover;
    background-position: center;
}
.img7{
    background: url(../Assets/images/house4.jpg);
    background-size: cover;
    background-position: center;
}
.img8{
    background: url(../Assets/images/house3.jpg);
    background-image: cover;
    background-position: center;
}
.box p{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 4px 9px;
}
.project p{
    margin-block: 10px;
}
.img-box2{
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
    margin-bottom: 6%;

}
.box1{
    width: 24%;
}
.box1 img{
    width: 100%;
}
#h3{
    font-family: sans-serif;
    margin-block:7px ;
}
#h6{
    font-family: sans-serif;
    margin-block:7px ;
}
#h7{
    font-family: sans-serif;
    margin-block:7px ;
}
button{
    padding: 6px;
    width: 100%;
    border: none;
}
.img-box1{
    margin: 2% 0;
}
/* .form{
    margin-top: 2%;
} */
input[type=text]{
    width: 100%;
    margin-bottom: 2%;
    padding: 4px;
}
input[type=email]{
    width: 100%;
    margin-bottom: 2%;
    padding: 4px;
}
#btn{
    background-color: black;
    color: white;
    padding: 6px 6px;
    width: 12%;
}
.img-box3 img{
    width: 100%;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 1%;
}
footer p{
    padding: 2% ;

}